@{
    ViewData["Title"] = "Home Page";
}
    <style>
    body{
        padding-bottom: 20px;
        background: url(https://usercontent.one/wp/www.exzentriq.dk/wp-content/uploads/2022/10/HF_Brochure_061221__28.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: auto;
    }
    footer{
        background-color: white;
    }
    </style>
<body>
</body>
