@{
    ViewData["Title"] = "Home Page";
}
    <style>
    body{
        padding-bottom: 20px;
        background: url(https://usercontent.one/wp/www.exzentriq.dk/wp-content/uploads/2022/10/HF_Brochure_061221__28.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: auto;
    }
    footer{
        background-color: white;
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
    }
    </style>
<body>
    <div class="wrapper">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SE PRODUKTER</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Product" asp-action="Index">Klik Her</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OPRET BOOKING</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Booking" asp-action="Create">Klik Her</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://play-lh.googleusercontent.com/JRd05pyBH41qjgsJuWduRJpDeZG0Hnb0yjf2nWqO7VaGKL10-G5UIygxED-WNOc3pg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OPRET BOOKING</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Booking" asp-action="Create">Klik Her</a>
            </div>
        </div>
    </div>
</body>
