@{
    ViewData["Title"] = "Home Page";
}
    <style>
    div.background{
        background-image: url('https://usercontent.one/wp/www.exzentriq.dk/wp-content/uploads/2022/10/HF_Brochure_061221__28.jpg');

    }
    </style>
<body>
    <div class="background">

    </div>
</body>
