@{
    ViewData["Title"] = "Home Page";
}
    <style>
    body{
        padding-bottom: 20px;
        background: url(https://usercontent.one/wp/www.exzentriq.dk/wp-content/uploads/2022/10/HF_Brochure_061221__28.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: auto;
    }
    footer{
        background-color: white;
    }
    .wrapper{
        display: flex;
        justify-content: space-between;
    }
    </style>
<body>
    <div class="wrapper">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="content/gaming.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SE PRODUKTER</h5>
                <p class="card-text">Hvilken PC skal du game på? Skal du have en snack mens du gamer? Se vores brede udvalg af PC'er 
                    samt vores udvalg af Mad & Drikkevarer her:</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Product" asp-action="Index">Klik Her</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="content/booking.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">OPRET BOOKING</h5>
                <p class="card-text">Skal du game alene, med vennerne eller kollegaerne? Opret din booking her!</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Booking" asp-action="Create">Klik Her</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="content/barcode.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">SE BOOKINGER</h5>
                <p class="card-text">Glemt hvornår du har booket tid? Se din booking her:</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Booking" asp-action="Index">Klik Her</a>
            </div>
        </div>
    </div>
</body>
