@using System.Security.Claims;
@model NetCafeUCN.MVC.Models.BookingDto

@section SeatBookingStyles {
    <link href="@Url.Content("~/css/SeatBooking.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Booking";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row" style="max-height: 400px">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label asp-for="PhoneNo" class="control-label"></label>
                    <input asp-for="PhoneNo" class="form-control" value="@Context.User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.MobilePhone)?.Value" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PhoneNo" class="control-label"></label>
                    <input asp-for="PhoneNo" class="form-control" />
                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                </div>
            }
           
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            

            <div class="form-group" style="margin-top: 5px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-lg">
        <h4>Vælg din plads her</h4>
        <div class="seats-container">
            <ol>
                <li class="row">
                    <ol class="seats">
                        <li class="seat">
                            <input type="checkbox" id="1A" />
                            <label for="1A">1A</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1B" />
                            <label for="1B">1B</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1C" />
                            <label for="1C">1C</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" disabled id="1D" />
                            <label for="1D">1D</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1E" />
                            <label for="1E">1E</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1F" />
                            <label for="1F">1F</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1G" />
                            <label for="1G">1G</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1H" />
                            <label for="1H">1H</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1I" />
                            <label for="1I">1I</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1J" />
                            <label for="1J">1J</label>
                        </li>
                        <li class="seat">
                            <input type="checkbox" id="1K" />
                            <label for="1K">1K</label>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
